{% extends 'seller/base.html' %} 

{% load static  %}

{% block content%}
{% include 'seller/includes/navbar.html' %}


<main class="main">

    
    <img src="{% static 'images/banners/cover.jpg' %}" alt="">
    <div class="container ">

            <h3 class="title title-center mt-5 mb-5">Categories</h3>
            <div class="swiper-wrapper " id="swiper-wrapper-b650ddbbf0d80124" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                <div class="swiper-slide banner banner-fixed category-banner br-sm swiper-slide-active" role="group" aria-label="1 / 3" style="width: 446.667px; margin-right: 20px;">
                    <figure>
                        <img src="{% static 'images/images/1-1_002.jpg' %}" alt="Category Banner" width="447" height="230" style="background-color: #cfd1cf;">
                    </figure>

                    <div class="banner-content y-50">
                        <h3 class="banner-title text-capitalize ls-25 mb-0">For Men's</h3>
                        <div class="banner-price-info text-uppercase text-default ls-25 font-weight-bold">Starting
                            at <span class="text-secondary">$29.00</span></div>
                        <hr class="banner-divider bg-dark">
                        <a href="{% url 'category' slug='fashion' %}" class="btn btn-dark btn-link btn-outline btn-icon-right btn-slide-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <!-- End of Category Banner -->

                <div class="swiper-slide banner banner-fixed category-banner br-sm swiper-slide-next" role="group" aria-label="2 / 3" style="width: 446.667px; margin-right: 20px;">
                    <figure>
                        <img src="{% static 'images/images/1-2.jpg' %}" alt="Category Banner" width="447" height="230" style="background-color: #333">
                    </figure>
                    <div class="banner-content text-center x-50 y-50 w-100 pl-2 pr-2">
                        <h5 class="banner-subtitle text-primary text-capitalize ls-25 font-weight-bold">Get 30% Off
                            Your Entire Order!</h5>
                        <h3 class="banner-title text-white text-uppercase ls-25">Black Friday Sale</h3>
                        <p>Use code <strong class="text-uppercase text-white">Blkfri40</strong> at checkout.</p>
                        <a href="{% url 'category' slug='fashion' %}" class="btn btn-primary btn-outline btn-rounded btn-icon-right text-white btn-slide-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <!-- End of Category Banner -->
                <div class="swiper-slide banner banner-fixed category-banner br-sm" role="group" aria-label="3 / 3" style="width: 446.667px; margin-right: 20px;">
                    <figure>
                        <img src="{% static 'images/images/1-3_002.jpg' %}" alt="Category Banner" width="447" height="230" style="background-color: #e0dddd;">
                    </figure>
                    <div class="banner-content y-50">
                        <h3 class="banner-title text-capitalize ls-25 mb-0">For Women's</h3>
                        <div class="banner-price-info text-uppercase text-default ls-25 font-weight-bold">From Only
                            <span class="text-secondary">$29.00</span></div>
                        <hr class="banner-divider bg-dark">
                        <a href="{% url 'category' slug='fashion' %}" class="btn btn-dark btn-link btn-outline btn-icon-right btn-slide-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <!-- End of Category Banner -->
            </div>

            <h2 class="title title-center mt-5 mb-5">Top Categories Of The Month</h2>
            
            <div class="swiper-container swiper-theme shadow-swiper pb-10 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" >
                <div class="swiper-wrapper " id="swiper-wrapper-3ab16e81172f47e1" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                    {% for category in categories %}
                    <div class="swiper-slide category-wrap swiper-slide-active" role="group" aria-label="1 / 6" style="width: 213.333px; margin-right: 20px;">
                        <div class="category category-classic category-absolute overlay-zoom br-sm">
                            <a href="{% url 'category' slug=category.slug %}">
                                <figure class="category-media">
                                    <img src="{{ category.image.url }}" alt="Category" width="213" height="213">
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name ls-normal">{{category.name}}</h4>
                                <a href="{% url 'category' slug=category.slug %}" class="btn btn-primary btn-link btn-underline">Shop Now</a>
                            </div>
                        </div>
                    </div>

                    <!-- End of Category Classic -->
                    {% endfor %}
                </div>

                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1">

                </span>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>

        <div class="notification-wrapper bg-dark br-sm mb-10 appear-animate justify-content-center fadeIn appear-animation-visible" style="animation-duration: 1.2s;">
            <i class="w-icon-mobile"></i>
            <p>Download our new app today! Don't Miss our mobile-only offers and shop with Android Play.</p>
            <!-- TODO appstore link -->
            <a href="#" class="btn btn-white btn-outline btn-rounded btn-sm btn-icon-right font-weight-normal text-capitalize">
                Download<i class="w-icon-long-arrow-down"></i></a>
        </div>
        

        <div class="container mt-10 pt-2">
            <div class="row cols-md-2 category-banner-2cols mb-5">
                <div class="banner banner-fixed mb-4">
                    <figure class="br-sm">
                        <img src="{% static 'images/banners/2-1.jpg' %}" alt="Category Banner" width="680" height="220" style="background-color: #384744;">
                    </figure>
                    <div class="banner-content y-50">
                        <h5 class="banner-subtitle text-uppercase text-white font-weight-bold">Natural Process</h5>
                        <h3 class="banner-title text-capitalize text-white">Cosmetic Makeup<br>Professional</h3>
                        <a href="{% url 'category' slug='fashion' %}" class="btn btn-white btn-link btn-slide-right btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                </div>

                <!-- End of Banner -->
                <div class="banner banner-fixed mb-4">
                    <figure class="br-sm">
                        <img src="{% static 'images/banners/2-2.jpg' %}" alt="Category Banner" width="680" height="220" style="background-color: #e7e7e7;">
                    </figure>
                    <div class="banner-content y-50">
                        <h5 class="banner-subtitle text-uppercase font-weight-bold">Trending Now</h5>
                        <h3 class="banner-title text-capitalize">Women’s Lifestyle<br>Collection</h3>
                        <a href="{% url 'category' slug='fashion' %}" class="btn btn-dark btn-link btn-slide-right btn-icon-right">
                            Shop Now<i class="w-icon-long-arrow-right"></i></a>
                    </div>
                </div>
                <!-- End of Banner -->
            </div>


            <!-- End of Category Banner 2Cols -->
            <div class="title-link-wrapper mb-3">
                <h2 class="title mb-0 pt-2 pb-2">Apparels &amp; Clothings</h2>
                <a href="{% url 'category' slug='fashion' %}" class="mb-0">More Products<i class="w-icon-long-arrow-right"></i></a>
            </div>
            <div class="row grid banner-product-wrapper mb-6">
                <div class="grid-item col-xl-5col3 col-lg-3 col-sm-8 col-12">
                    <div class="banner banner-fixed br-sm">
                        <figure>
                            <img src="{% static 'images/banners/1-6.jpg' %}" alt="Banner" width="820" height="364" style="background-color: #EBEBEB;">
                        </figure>
                        <div class="banner-content y-50">
                            <h5 class="banner-subtitle text-capitalize font-weight-normal">Special Offers</h5>
                            <h3 class="banner-title text-uppercase">Fashion Sale</h3>
                            <div class="banner-price-info text-dark lh-1 ls-25">Up to <strong class="text-secondary text-uppercase">40% Off</strong></div>
                            <hr class="banner-divider bg-dark">
                            <a href="{% url 'category' slug='fashion' %}" class="btn btn-dark btn-link btn-slide-right btn-icon-right">
                                Start Shopping<i class="w-icon-long-arrow-right mb-1"></i>
                            </a>
                        </div>
                    </div>
                </div>

                {% for product in products %}
                <div class="grid-item col-xl-5col col-lg-3 col-sm-4 col-6">
                    <div class="product product-simple text-center">
                        <figure class="product-media">
                            <a href="{% url 'product' slug=product.slug %}">
                                <img src="{{product.image.url}}" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                                    View</a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="{% url 'product' slug=product.slug %}">{{product.name}}</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">Rs. {{product.price}}</ins>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline">Add
                                        To Cart</a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="{% url 'seller' slug=product.seller.slug %}">{{product.seller}}</a>

                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
            <!-- End of Banner Product Wrapper -->

            <div class="title-link-wrapper mb-3">
                <h2 class="title mb-0 pt-2 pb-2">Food &amp; Kitchen</h2>
                <a href="{% url 'category' slug='fashion' %}" class="mb-0">More Products<i class="w-icon-long-arrow-right"></i></a>
            </div>
            <div class="row grid banner-product-wrapper">
                <div class="grid-item col-xl-5col3 col-lg-3 col-sm-8 col-12">
                    <div class="banner banner-fixed br-sm">
                        <figure>
                            <img src="{% static 'images/banners/2.jpg' %}" alt="Banner" width="820" height="364" style="background-color: #E4E5E7;">
                        </figure>
                        <div class="banner-content y-50">
                            <h5 class="banner-subtitle text-capitalize font-weight-normal">Get up to <strong class="text-secondary">25% Off</strong></h5>
                            <h3 class="banner-title text-uppercase">Electronic Kettle</h3>
                            <div class="banner-price-info text-dark lh-1 ls-25">Collection</div>
                            <hr class="banner-divider bg-dark">
                            <a href="{% url 'category' slug='fashion' %}" class="btn btn-dark btn-link btn-slide-right btn-icon-right">
                                Start Shopping<i class="w-icon-long-arrow-right mb-1"></i>
                            </a>
                        </div>
                    </div>
                </div>

                {% for product in products %}
                <div class="grid-item col-xl-5col col-lg-3 col-sm-4 col-6">
                    <div class="product product-simple text-center">
                        <figure class="product-media">
                            <a href="{% url 'product' slug=product.slug %}">
                                <img src="{{ product.image.url }}" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                                    View</a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="{% url 'product' slug=product.slug %}">{{ product.name }}</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">Rs. {{product.price}}</ins>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline">Add
                                        To Cart</a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="{% url 'seller' slug=product.seller.slug %}">{{product.seller}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- End of Banner Product Wrapper -->

            <div class="banner banner-shoes br-sm mb-9" style="background-image: url(assets/images/demos/demo8/banner/3.jpg);
                background-color: #36332C;">
                <div class="banner-content d-block d-lg-flex align-items-center">
                    <div class="content-left mr-auto mb-6 mb-lg-0 align-items-center">
                        <div class="banner-price-info text-secondary text-uppercase font-weight-bolder ls-25">
                            40<sup class="font-weight-bold">%</sup><sub class="font-weight-bold ls-10">Off</sub>
                        </div>
                        <hr class="banner-divider">
                        <h3 class="banner-title font-weight-normal text-white mb-0 ls-25">
                            Summer Season's Sale<br><strong>For Men's Sneakers</strong>
                        </h3>
                    </div>
                    <a href="{% url 'category' slug='fashion' %}" class="content-right btn btn-white btn-outline btn-rounded btn-icon-right">
                        Discover Now<i class="w-icon-long-arrow-right"></i>
                    </a>
                </div>

                <figure class="image-shoes skrollable">
                    <img src="{% static 'images/images/shoes.png' %}" alt="Shoes" data-bottom-top="transform: translateY(2vh);" data-top-bottom="transform: translateY(-2vh);" class="skrollable skrollable-before" style="transform: translateY(2vh);">
                </figure>
            </div>
            <!-- End of Banner Shoes -->

            <div class="title-link-wrapper mb-3">
                <h2 class="title mb-0 pt-2 pb-2">Top Rated Products</h2>
                <a href="shop-boxed-banner.html" class="mb-0">More Products<i class="w-icon-long-arrow-right"></i></a>
            </div>
            <div class="swiper-container swiper-theme product-wrapper swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" data-swiper-options="{
                'spaceBetween': 20,
                'slidesPerView': 2,
                'breakpoints': {
                    '576': {
                        'slidesPerView': 3
                    },
                    '768': {
                        'slidesPerView': 4
                    },
                    '992': {
                        'slidesPerView': 5
                    },
                    '1200': {
                        'slidesPerView': 6
                    }
                }
            }">
                <div class="swiper-wrapper " id="swiper-wrapper-c2ee10e3110581178" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                    {% for product in products %}
                    <!-- End of Product Simple -->
                    <div class="swiper-slide product product-simple text-center swiper-slide-next" role="group" aria-label="2 / 6" style="width: 213.333px; margin-right: 20px;">
                        <figure class="product-media">
                            <a href="{% url 'product' slug=product.slug %}">
                                <img src="{{ product.image.url }}" alt="Product" width="260" height="291">
                            </a>
                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                                <a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Add to Compare"></a>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-quickview" title="Quick View">Quick
                                    View</a>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-name"><a href="">{{product.name}}</a></h4>
                            <div class="product-pa-wrapper">
                                <div class="product-price">
                                    <ins class="new-price">Rs. {{product.sale_price}}</ins><del class="old-price">Rs. {{product.price}}</del>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="btn-cart btn-product btn btn-icon-right btn-link btn-underline">Add
                                        To Cart</a>
                                </div>
                            </div>
                            <div class="sold-by">
                                Sold By: <a href="{% url 'seller' slug=product.seller.slug %}">{{product.seller}}</a>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
    </div>
    
</main>
{% endblock %}