
{% extends 'seller/base.html' %} 

{% load static %}

{% block content %}
{% include 'seller/includes/navbar.html' %}


<main class="main">
	
	<!-- Start of Page Content -->
	<div class="page-content mb-10">
		<div class="shop-default-banner shop-boxed-banner banner d-flex align-items-center mb-6" style="background-image: url({% static 'images/images/banner-5.jpg' %}); background-color: #FFC74E;">
			<div class="container banner-content">
				<h4 class="banner-subtitle font-weight-bold">Accessories Collection</h4>
				<h3 class="banner-title text-white text-uppercase font-weight-bolder ls-10">Home Furniture</h3>
				<a href="shop-banner-sidebar.html" class="btn btn-dark btn-rounded btn-icon-right">Discover
					Now<i class="w-icon-long-arrow-right"></i></a>
			</div>
		</div>
		<!-- End of Shop Banner -->
		

		
		<div class="container-fluid">
			<!-- Start of Shop Content -->
			<div class="shop-content row gutter-lg">
				<!-- Start of Sidebar, Shop Sidebar -->
				<aside class="sidebar shop-sidebar left-sidebar sticky-sidebar-wrapper sidebar-fixed">
					<!-- Start of Sidebar Overlay -->
					<div class="sidebar-overlay"></div>
					<a class="sidebar-close" href="#"><i class="close-icon"></i></a>

					<!-- Start of Sidebar Content -->
					<div class="sidebar-content scrollable">
						<!-- Start of Sticky Sidebar -->
						<div class="sticky-sidebar" style="border-bottom: 0px none rgb(102, 102, 102);">
							<div class="filter-actions">
								<label>Filter :</label>
								<a href="#" class="btn btn-dark btn-link filter-clean">Clean All</a>
							</div>
							<!-- Start of Collapsible widget -->
							<div class="widget widget-collapsible">
								<h3 class="widget-title"><label>All Categories</label><span class="toggle-btn"></span></h3>
								<ul class="widget-body filter-items search-ul">
									<li><a href="#">Accessories</a></li>
									<li><a href="#">Babies</a></li>
									<li><a href="#">Beauty</a></li>
									<li><a href="#">Decoration</a></li>
									<li><a href="#">Electronics</a></li>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Food</a></li>
									<li><a href="#">Furniture</a></li>
									<li><a href="#">Kitchen</a></li>
									<li><a href="#">Medical</a></li>
									<li><a href="#">Sports</a></li>
									<li><a href="#">Watches</a></li>
								</ul>
							</div>
							<!-- End of Collapsible Widget -->

							<!-- Start of Collapsible Widget -->
							<div class="widget widget-collapsible">
								<h3 class="widget-title"><label>Price</label><span class="toggle-btn"></span></h3>
								<div class="widget-body">
									<ul class="filter-items search-ul">
										<li><a href="#">$0.00 - $100.00</a></li>
										<li><a href="#">$100.00 - $200.00</a></li>
										<li><a href="#">$200.00 - $300.00</a></li>
										<li><a href="#">$300.00 - $500.00</a></li>
										<li><a href="#">$500.00+</a></li>
									</ul>
									<form class="price-range">
										<input type="number" name="min_price" class="min_price text-center" placeholder="$min"><span class="delimiter">-</span><input type="number" name="max_price" class="max_price text-center" placeholder="$max"><a href="#" class="btn btn-primary btn-rounded">Go</a>
									</form>
								</div>
							</div>
							<!-- End of Collapsible Widget -->

							<!-- Start of Collapsible Widget -->
							<div class="widget widget-collapsible">
								<h3 class="widget-title"><label>Size</label><span class="toggle-btn"></span></h3>
								<ul class="widget-body filter-items item-check mt-1">
									<li><a href="#">Extra Large</a></li>
									<li><a href="#">Large</a></li>
									<li><a href="#">Medium</a></li>
									<li><a href="#">Small</a></li>
								</ul>
							</div>
							<!-- End of Collapsible Widget -->

							<!-- Start of Collapsible Widget -->
							<div class="widget widget-collapsible">
								<h3 class="widget-title"><label>Brand</label><span class="toggle-btn"></span></h3>
								<ul class="widget-body filter-items item-check mt-1">
									<li><a href="#">Elegant Auto Group</a></li>
									<li><a href="#">Green Grass</a></li>
									<li><a href="#">Node Js</a></li>
									<li><a href="#">NS8</a></li>
									<li><a href="#">Red</a></li>
									<li><a href="#">Skysuite Tech</a></li>
									<li><a href="#">Sterling</a></li>
								</ul>
							</div>
							<!-- End of Collapsible Widget -->

							<!-- Start of Collapsible Widget -->
							<div class="widget widget-collapsible">
								<h3 class="widget-title"><label>Color</label><span class="toggle-btn"></span></h3>
								<ul class="widget-body filter-items item-check">
									<li><a href="#">Black</a></li>
									<li><a href="#">Blue</a></li>
									<li><a href="#">Brown</a></li>
									<li><a href="#">Green</a></li>
									<li><a href="#">Grey</a></li>
									<li><a href="#">Orange</a></li>
									<li><a href="#">Yellow</a></li>
								</ul>
							</div>
							<!-- End of Collapsible Widget -->
						</div>
						<!-- End of Sidebar Content -->
					</div>
					<!-- End of Sidebar Content -->
				</aside>
				<!-- End of Shop Sidebar -->

				<!-- Start of Shop Main Content -->
				<div class="main-content">
					<div class="sticky-content-wrapper"><nav class="toolbox sticky-toolbox sticky-content fix-top">
						<div class="toolbox-left">
							<a href="#" class="btn btn-primary btn-outline btn-rounded left-sidebar-toggle 
								btn-icon-left d-block d-lg-none"><i class="w-icon-category"></i><span>Filters</span></a>
							<div class="toolbox-item toolbox-sort select-box text-dark">
								<label>Sort By :</label>
								<select name="orderby" class="form-control">
									<option value="default" selected="selected">Default sorting</option>
									<option value="popularity">Sort by popularity</option>
									<option value="rating">Sort by average rating</option>
									<option value="date">Sort by latest</option>
									<option value="price-low">Sort by pric: low to high</option>
									<option value="price-high">Sort by price: high to low</option>
								</select>
							</div>
						</div>
						<div class="toolbox-right">
							<div class="toolbox-item toolbox-show select-box">
								<select name="count" class="form-control">
									<option value="9">Show 9</option>
									<option value="12" selected="selected">Show 12</option>
									<option value="24">Show 24</option>
									<option value="36">Show 36</option>
								</select>
							</div>
							<div class="toolbox-item toolbox-layout">
								<a href="shop-both-sidebar.html" class="icon-mode-grid btn-layout active">
									<i class="w-icon-grid"></i>
								</a>
								<a href="shop-list.html" class="icon-mode-list btn-layout">
									<i class="w-icon-list"></i>
								</a>
							</div>
						</div>
					</nav></div>
					<div class="product-wrapper row cols-xl-5 cols-lg-3 cols-md-4 cols-sm-3 cols-2">
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Electronics</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">3D Television</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(3 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$220.00 - $230.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
										<img src="assets/images/shop/2-2.jpg" alt="Product" width="300" height="338">
									</a>
									<div class="product-countdown-container">
										<div class="product-countdown countdown-compact is-countdown" data-until="2021, 9, 9" data-format="DHMS" data-compact="false" data-labels-short="Days, Hours, Mins, Secs"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Hrs</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Mins</span></span><span class="countdown-section"><span class="countdown-amount">00</span><span class="countdown-period">Secs</span></span></span></div>
									</div>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Electronics</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Alarm Clock With Lamp</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(10 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											<ins class="new-price">$30.00</ins><del class="old-price">$60.00</del>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Electronics</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Apple Laptop</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 80%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(5 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$1,000.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Electronics</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Attachable Charge Alarm</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 60%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(7 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$15.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Fashion</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Best Travel Bag</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 80%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(4 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$83.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Sports</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Black Stunt Motor</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(12 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$374.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Fashion</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Blue Sky Trunk</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(9 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$85.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Beauty</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Bodycare Smooth Powder</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 60%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(4 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$25.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Electronics</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Bright Green IPhone</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 80%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(4 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$950.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Fashion</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Cavin Fashion Suede Handbag</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 80%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(4 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$163.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Electronics</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Charming Design Watch</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(10 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$30.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Fashion</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Classic Simple Backpack</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(9 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$85.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Watches</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Smart Watch</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(9 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$90.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Accessories</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Handmade Ring</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(1 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$5.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Accessories</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">Pencil Case</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 60%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(4 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$54.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="shop-banner-sidebar.html">Medical</a>
									</div>
									<h3 class="product-name">
										<a href="product-default.html">CT Marchine</a>
									</h3>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 60%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(4 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											$236.00
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat"><a href="shop-banner-sidebar.html">Electronics</a>
									</div>
									<h4 class="product-name"><a href="product-default.html">Drone</a></h4>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(3 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">$632.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat"><a href="shop-banner-sidebar.html">Electronics</a>
									</div>
									<h4 class="product-name"><a href="product-default.html">Official Camera</a>
									</h4>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(3 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">
											<ins class="new-price">$263.00</ins><del class="old-price">$300.00</del>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat"><a href="shop-banner-sidebar.html">Accessories</a>
									</div>
									<h4 class="product-name"><a href="product-default.html">Phone Charge Pad</a>
									</h4>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 80%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(8 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">$23.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-wrap">
							<div class="product text-center">
								<figure class="product-media">
									<a href="product-default.html">
										<img src="{% static 'images/product/1-800x900.jpg' %}" alt="Product" width="300" height="338">
									</a>
									<div class="product-action-horizontal">
										<a href="#" class="btn-product-icon btn-cart w-icon-cart" title="Add to cart"></a>
										<a href="#" class="btn-product-icon btn-wishlist w-icon-heart" title="Wishlist"></a>
										<a href="#" class="btn-product-icon btn-compare w-icon-compare" title="Compare"></a>
										<a href="#" class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat"><a href="shop-banner-sidebar.html">Accessories</a>
									</div>
									<h4 class="product-name"><a href="product-default.html">Fashionalble
											Pencil</a></h4>
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width: 100%;"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="product-default.html" class="rating-reviews">(9 reviews)</a>
									</div>
									<div class="product-pa-wrapper">
										<div class="product-price">$50.00</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="toolbox toolbox-pagination justify-content-between">
						<p class="showing-info mb-2 mb-sm-0">
							Showing<span>1-12 of 60</span>Products
						</p>
						<ul class="pagination">
							<li class="prev disabled">
								<a href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
									<i class="w-icon-long-arrow-left"></i>Prev
								</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="next">
								<a href="#" aria-label="Next">
									Next<i class="w-icon-long-arrow-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- End of Shop Main Content -->

				<!-- Start of Sidebar, Right-sidebar -->
				<aside class="shop-sidebar right-sidebar sticky-sidebar-wrapper">
					<div class="sidebar-overlay"></div>
					<a class="sidebar-close" href="#"><i class="close-icon"></i></a>
					<a href="#" class="sidebar-toggle"><i class="fas fa-chevron-left"></i></a>
					<div class="sidebar-content">
						<div class="widget widget-icon-box mb-6">
							<div class="icon-box icon-box-side">
								<span class="icon-box-icon text-dark">
									<i class="w-icon-truck"></i>
								</span>
								<div class="icon-box-content">
									<h4 class="icon-box-title">Free Shipping &amp; Returns</h4>
									<p>For all orders over $99</p>
								</div>
							</div>
							<div class="icon-box icon-box-side">
								<span class="icon-box-icon text-dark">
									<i class="w-icon-bag"></i>
								</span>
								<div class="icon-box-content">
									<h4 class="icon-box-title">Secure Payment</h4>
									<p>We ensure secure payment</p>
								</div>
							</div>
							<div class="icon-box icon-box-side">
								<span class="icon-box-icon text-dark">
									<i class="w-icon-money"></i>
								</span>
								<div class="icon-box-content">
									<h4 class="icon-box-title">Money Back Guarantee</h4>
									<p>Any back within 30 days</p>
								</div>
							</div>
						</div>
						<!-- End of Widget Icon Box -->

						<div class="widget widget-banner mb-9">
							<div class="banner banner-fixed br-sm">
								<figure>
									<img src="assets/images/shop/banner3.jpg" alt="Banner" width="266" height="220" style="background-color: #1D2D44;">
								</figure>
								<div class="banner-content">
									<div class="banner-price-info font-weight-bolder text-white lh-1">
										40<sup class="font-weight-bold">%</sup><sub class="font-weight-bold text-uppercase">Off</sub>
									</div>
									<h4 class="banner-subtitle text-white font-weight-bolder text-uppercase mb-0">
										Ultimate Sale</h4>
								</div>
							</div>
						</div>
						<!-- End of Widget Banner -->

						<div class="widget widget-products">
							<h4 class="title title-underline mb-2 font-weight-bold">More Products</h4>
							<div class="swiper-container swiper-theme nav-top swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" data-swiper-options="{
								'nav': true,
								'dots': false,
								'slidesPerView': 1
							}">
								<div class="widget-col">
									<div class="product product-widget">
										<figure class="product-media">
											<a href="#">
												<img src="assets/images/shop/13.jpg" alt="Product" width="100" height="113">
											</a>
										</figure>
										<div class="product-details">
											<h4 class="product-name">
												<a href="#">Smart Watch</a>
											</h4>
											<div class="ratings-container">
												<div class="ratings-full">
													<span class="ratings" style="width: 100%;"></span>
													<span class="tooltiptext tooltip-top"></span>
												</div>
											</div>
											<div class="product-price">$80.00-$90.00</div>
										</div>
									</div>
									<div class="product product-widget">
										<figure class="product-media">
											<a href="#">
												<img src="assets/images/shop/14.jpg" alt="Product" width="100" height="113">
											</a>
										</figure>
										<div class="product-details">
											<h4 class="product-name">
												<a href="#">Sky Medical Facility</a>
											</h4>
											<div class="ratings-container">
												<div class="ratings-full">
													<span class="ratings" style="width: 80%;"></span>
													<span class="tooltiptext tooltip-top"></span>
												</div>
											</div>
											<div class="product-price">$58.00</div>
										</div>
									</div>
									<div class="product product-widget">
										<figure class="product-media">
											<a href="#">
												<img src="assets/images/shop/15.jpg" alt="Product" width="100" height="113">
											</a>
										</figure>
										<div class="product-details">
											<h4 class="product-name">
												<a href="#">Black Stunt Motor</a>
											</h4>
											<div class="ratings-container">
												<div class="ratings-full">
													<span class="ratings" style="width: 60%;"></span>
													<span class="tooltiptext tooltip-top"></span>
												</div>
											</div>
											<div class="product-price">$374.00</div>
										</div>
									</div>
								</div>
								<div class="widget-col">
									<div class="product product-widget">
										<figure class="product-media">
											<a href="#">
												<img src="assets/images/shop/16.jpg" alt="Product" width="100" height="113">
											</a>
										</figure>
										<div class="product-details">
											<h4 class="product-name">
												<a href="#">Skate Pan</a>
											</h4>
											<div class="ratings-container">
												<div class="ratings-full">
													<span class="ratings" style="width: 100%;"></span>
													<span class="tooltiptext tooltip-top"></span>
												</div>
											</div>
											<div class="product-price">$278.00</div>
										</div>
									</div>
									<div class="product product-widget">
										<figure class="product-media">
											<a href="#">
												<img src="assets/images/shop/17.jpg" alt="Product" width="100" height="113">
											</a>
										</figure>
										<div class="product-details">
											<h4 class="product-name">
												<a href="#">Modern Cooker</a>
											</h4>
											<div class="ratings-container">
												<div class="ratings-full">
													<span class="ratings" style="width: 80%;"></span>
													<span class="tooltiptext tooltip-top"></span>
												</div>
											</div>
											<div class="product-price">$324.00</div>
										</div>
									</div>
									<div class="product product-widget">
										<figure class="product-media">
											<a href="#">
												<img src="assets/images/shop/18.jpg" alt="Product" width="100" height="113">
											</a>
										</figure>
										<div class="product-details">
											<h4 class="product-name">
												<a href="#">CT Machine</a>
											</h4>
											<div class="ratings-container">
												<div class="ratings-full">
													<span class="ratings" style="width: 100%;"></span>
													<span class="tooltiptext tooltip-top"></span>
												</div>
											</div>
											<div class="product-price">$236.00</div>
										</div>
									</div>
								</div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

						</div>
					</div>
				</aside>
			</div>
			<!-- End of Shop Content -->
		</div>
	</div>
	<!-- End of Page Content -->
</main>
{% endblock %}